.blackSecondLayer {
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 6;
  font-family: SB Sans Display, serif;
}
.imageBlock{
  display: flex;
  flex-grow: 1;
  width: 60px;
  justify-content: center;
}
.imageBlockImage{
  background-image: url("../../assets_images/auditoriaImage/auditoria.svg");
  width: 280px;
  height: 345px;
}
.ant-slider-handle {
  border-color: red !important;
  background-color: red !important;
}
.imageBlock p{
  align-self: center;
}
.blackControlBlock{
  flex-grow: 2;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blackLightAndTempBlock{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100px;
}
.blackLight{
  flex-grow: 1;
  background-color: #252d33;
}
.blackHeadText{
  margin: 10px;
  font-size: 13px;
}
.blackStatsValue{
  margin: 10px 20px;
  font-size: 70px;
  position: relative;
}
.blackStatsValueUnit{
  font-size: 40px;
  color: #69777d;
  position: absolute;
  top: 10px;
  left: 120px;
}
.blackTemp{
  flex-grow: 1;
  background-color: #293d46;
}
.blackBlinds{
  flex-grow: 1;
  background-color: #161c20;
}
.sliderBlock{
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}
.slider{
  flex-grow: 1;
}
.sliderImageLightLeft{
  background-image: url("../../assets_images/slider/slider-lighting-01-dark.svg");
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}
.sliderImageLightRight{
  background-image: url("../../assets_images/slider/slider-lighting-02-dark.svg");
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
}
.sliderImageTempLeft{
  background-image: url("../../assets_images/slider/slider-temp-01-dark.svg");
  width: 25px;
  height: 25px;
}
.sliderImageTempRight{
  background-image: url("../../assets_images/slider/slider-temp-02-dark.svg");
  width: 25px;
  height: 25px;
}