$buttonImageSize: 60px;
.blackSecondLayer {
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 6;
  font-family: SB Sans Display, serif;
}
.imageBlock{
  display: flex;
  flex-grow: 1;
  width: 60px;
  justify-content: center;
  background: url("../../assets_images/auditoriaImage/auditoria.svg") no-repeat;
  background-size: cover;
}
.imageBlockImage{

}
.ant-slider-handle {
  border-color: red !important;
  background-color: red !important;
}
.imageBlock p{
  align-self: center;
}
.blackControlBlock{
  flex-grow: 2;
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blackLightAndTempBlock{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: 100px;
}
.blackLight{
  flex-grow: 1;
  background-color: #252d33;
}
.blackHeadText{
  margin: 10px;
  font-size: 13px;
}
.blackStatsValue{
  margin: 10px 20px;
  font-size: 70px;
  position: relative;
}
.blackStatsValueUnit{
  font-size: 40px;
  color: #69777d;
  position: absolute;
  top: 10px;
  left: 120px;
}
.blackStatsValueUnitTemp{
  font-size: 40px;
  color: #69777d;
  position: absolute;
  top: 10px;
  left: 80px;
}
.blackTemp{
  flex-grow: 1;
  background-color: #293d46;
}
.blindsFrameBlock{
  height: 180px;
  width: 160px;
  border: 1px white solid;
  margin: 20px auto;
  overflow: hidden;
}
.blindsMove{
  background: url("../../assets_images/blinds/blinds-dark.svg") no-repeat;
  height: 180px;
  width: 140px;
  margin: auto auto auto auto;
  scale: 1.1;
  transition: 1.5s;
  transition-timing-function: ease-out;
}
.blindsSlider{
  margin: 10px 33px;
}
.blackBlinds{
  flex-grow: 1;
  background-color: #161c20;
  width: 85px;
}
.sliderBlock{
  display: flex;
  margin: 0 20px;
  justify-content: center;
  align-items: center;
}
.slider{
  flex-grow: 1;
}
.sliderImageLightLeft{
  background-image: url("../../assets_images/slider/slider-lighting-01-dark.svg");
  width: 25px;
  height: 25px;
  margin: 0 10px 0 0;
}
.sliderImageLightRight{
  background-image: url("../../assets_images/slider/slider-lighting-02-dark.svg");
  width: 25px;
  height: 25px;
  margin: 0 0 0 10px;
}
.sliderImageTempLeft{
  background-image: url("../../assets_images/slider/slider-temp-01-dark.svg");
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
.sliderImageTempRight{
  background-image: url("../../assets_images/slider/slider-temp-02-dark.svg");
  width: 25px;
  height: 25px;
  margin-left: 10px;
}
.buttonsBlock{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 180px;
  margin: auto;
}






.buttonsBlockDown{
  background: url("../../assets_images/blinds/blinds-down-accent.svg") no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockDownActive{
  background: white url("../../assets_images/blinds/blinds-down-accent.svg") no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockDownDisabled{
  background: url("../../assets_images/blinds/blinds-down-inactive-light.svg") no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockStop{
  background: url("../../assets_images/blinds/blinds-pause-accent.svg")no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockStop:active{
  background: white url("../../assets_images/blinds/blinds-pause-accent.svg")no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockStopDisabled{
  background: url("../../assets_images/blinds/blinds-pause-inactive-light.svg")no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockUp{
  background: url("../../assets_images/blinds/blinds-up-accent.svg")no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockUpActive{
  background: white url("../../assets_images/blinds/blinds-up-accent.svg")no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}
.buttonsBlockUpDisabled{
  background: url("../../assets_images/blinds/blinds-up-inactive-light.svg")no-repeat;
  width: $buttonImageSize;
  height: $buttonImageSize;
  border: 1px white solid;
  flex-grow: 1;
}