$backColor: #161c20;
body{
  margin: 0;
  background-color: #161C20;
}
.blackMainLayer{
  background-color: $backColor;
  display: flex;
  flex-direction: column;
  height: 515px;
  width: 768px;
  border: 2px #107F8C solid;
  margin: auto;
}
.blackSecondLayer{
  color: white;
  display: flex;
}
