$placeInfoBlockColor: #107f8c;
$statsInfoBlockColor: #293d46;

span{
  align-self: center;
  font-family: "SB Sans Display", serif;
  font-size: 20px;
}
.currentTempDark{
  background-image: url("../../assets_images/current/current-temp-dark.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 4px;
}
.currentHumpDark{
  background-image: url("../../assets_images/current/current-hum-dark.svg");
  width: 50px;
  height: 50px;
  position: absolute;
  margin-left: 4px;
}
.blackSecondLayer {
  color: white;
  display: flex;
  justify-content: center;
  background-color: $placeInfoBlockColor ;
}
.blackPlaceInfoBlock{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 60px;
  height: 100px;
  font-family: "SB Sans Display", serif;
}
.blackPlaceInfoBlock p{
  align-self: center;
}

.blackStatsInfoBlock{
  display: flex;
  flex-grow: 2;
  background-color: $statsInfoBlockColor ;
  width: 100px;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.circleInfoQ{
  position: absolute;
  left: 10px;
  padding-left: 20px;
}
.circleInfoTextQ{
  position: absolute;
  right: -35px;
  top: 18px;
  color: #69777d;
  font-size: 15px;
}
.circleInfoT{
  position: absolute;
  left: 210px;
  top: 20px;
}
.circleInfoTextT{
  position: absolute;
  right: -19px;
  top: 18px;
  color: #69777d;
  font-size: 15px;
}
.circleInfoH{
  position: absolute;
  right: 10px;
  padding-right: 20px;
 }
.circleInfoTextH{
  position: absolute;
  right: 5px;
  top: 18px;
  color: #69777d;
  font-size: 15px;
}
