$scenariosBlockColor: #5fc5ab;
$logoBlockColor: #293d46;
.blackSecondLayer {
  color: white;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-family: "SB Sans Text", serif;
}
.blackLogoBlock{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  width: 60px;
  height: 70px;
  font-family: "SB Sans Display", serif;
  background-color: $logoBlockColor;
}
.blackLogoBlock p{
  align-self: center;
}
.blackScenariosBlock{
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  width: 100px;
  background-color: $scenariosBlockColor;
}
.blackScenario{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  background-color: #161c20;
  justify-content: center;
  width: 100px;
}
.blackScenarioText{
  justify-content: center;
  display: flex;
  flex-grow: 1;
}
.blackScenarioText p{
  align-self: center;
}
.blackModesBlock{
  flex-grow: 1;
  display: flex;
  width: 85px;
}
.blackOffAllModes{
  flex-grow: 1;
  background-color: #252d33;
}
.blackOffLightMode{
  flex-grow: 1;
  background-color: #293d46;
}
.blackOnHeatingMode{
  flex-grow: 1;
  background-color: #252d33;
}
.blackOnCoolingMode{
  flex-grow: 1;
  background-color: #293d46;
}